/*centering the advice at the beginning of the form */
#advice {
    text-align: center;
}


/*container selector of management-form items. Items are displayed in column and page centered*/
.management-form {
    display:flex;
    flex-direction: column;

    margin : auto;
    width:30%;
}


/*form items are also a container of their inner elements. Inner elements (labels and inputs) are displayed in row
and localised at each side of the parent div element*/
.management-form-elt {
    display:flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top:1%;
}

/*centering the titles of the form */
.item-form-title {
    margin:5% auto;
}

/*centering the submit button */
#submit-button {
    margin: 1% auto;
}


/*colorisation of input and error messages */
.error-effect {
    background-color:lightcoral;
}

.error-effect-title {
    color:lightcoral
}

#message {
    text-align: center;
    color: lightcoral;
}


/* for Ipad Pro and Ipad : 80% of full screen display (1024px and less)*/
@media screen and (max-width: 1024px) {

.management-form {
    width:80%;
}
}


/* for mobile phones and all tablets equals or less than 767px,
labels and inputs are displayed in column and at full screen width */
@media screen and (max-width: 767px) {

.management-form {
    width:100%;
}


.management-form-elt {

    flex-direction: column;
    align-items: center;
}

.error-effect-title {
    text-align: center;
}
    
}