
<div *ngIf="eventDetailObs  | async as eventDetail">

    <h5>Id événement: {{eventDetail.id}}</h5>

    <h5>Organisateur: {{eventDetail.creator.nickName}}</h5>

    <button>Modifier</button>
    <button (click)="onRemoveEvent(eventDetail.id)">Supprimer</button>

    <h5>Adresse: {{eventDetail.place.streetNumber}} {{eventDetail.place.street}} {{eventDetail.place.postalCode}} </h5>

    <h5>Date: {{eventDetail.date | date:'d MMM y'}}</h5>
    <h5>Heure: {{eventDetail.date | date:'h:mm'}}</h5>

    <h5>Description: {{eventDetail.description}}</h5>

    <button (click)="lengthList()">Nombre de participants: </button>
<p>{{nb}}</p>




  <table>
    <tr *ngFor="let participant of participantByEventIdList ">

      <td >
        participant: {{participant.nickName}}
      </td>

    </tr>
  </table>



  <form [formGroup]="participantForm"  (ngSubmit)="postParticipant(participantForm.value)">
    <div>
      <label for="nickName">Saisir votre nickName :</label>
      <input id="nickName" type="text" formControlName="nickName">
    </div>

    <button  type="submit">Soumettre</button>
<!--
<p *ngIf="nickNameIsParticipant(newParticipant.nickName,participantByEventIdList )">{{userMessage}}</p>
-->

  </form>





</div>
